.help-page-container {
  margin: 30px;
  padding: 30px;
  background-color: #e5f0fe;
  border-radius: 15px;
}

.large-font {
  font-size: 40px;
  padding-top: 20px;
}

.pad-30 {
  padding-top: 30px;
}

.pad-10-30 {
  padding-top: 10px;
  padding-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.footer {
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  right: 0;
}
