.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold;
  padding-left: 1.5em;
}

.navbar-dark {
  background-color: #124884;
}

.nav-link {
  color: #fff !important;
  font-size: 1.1rem;
}

.pr {
  padding-right: 2rem;
}

.dropdown {
  color: #333;
  font-size: 1rem;
}
.mobileBar {
  display: none !important;
  background-color: rgb(18, 72, 132) !important;
}

.sideBar {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-top: 6rem !important;
}


@media screen and (max-width: 750px) {
  .navBar {
    display: none !important;
  }

  .mobileBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: rgb(18, 72, 132) !important;
  }

  .sideBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 6rem !important;
    margin-left: -1rem !important;
  }

}

.landingPage {
  font-family: "Lato";
}

.landingHeader {
  color: #0B2C52;
  font-size: 30px;
  align-self: flex-start;
  padding-left: 20px;
  margin-bottom: 15px;
}

.landingCol1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingCol1 p {
  font-size: 20px;
  padding-left: 20px;
  color: #0B2C52;
}

.innerBold {
  font-size: 20px;
  padding-left: 20px;
  color: #0B2C52;
}

.landingCol2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.landingCol2 img {
  width: 150px;
  display: block;
  margin: auto;
}

.landingCol2 b {
  font-size: 30px;
  font-style: italic;
  margin: 15px;
}

.landingCol2 p {
  font-size: 20px;
  font-style: italic;
}

.landingCol2 a {
  text-decoration: none;
  color: #4183c4;
}

label {
  font-weight:bold;
}

.required label:after {
  content:'*';
  color:red;
}

.agePage {
  background-color: #24252B;
  color:#ffffff;
}

.agePage a {
  background-color: #393B44;
  border: none;
}

.agePage a:hover {
  background-color: #2f3036;
}