.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: bold;
  padding-left: 1.5em;
}

.navbar-dark {
  background-color: #124884;
}

.nav-link {
  color: #fff !important;
  font-size: 1.1rem;
}

.pr {
  padding-right: 2rem;
}

.dropdown {
  color: #333;
  font-size: 1rem;
}
.mobileBar {
  display: none !important;
  background-color: rgb(18, 72, 132) !important;
}

.sideBar {
  margin: 0 !important;
  border-radius: 0 !important;
  padding-top: 6rem !important;
}


@media screen and (max-width: 750px) {
  .navBar {
    display: none !important;
  }

  .mobileBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    background-color: rgb(18, 72, 132) !important;
  }

  .sideBar {
    display: block !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 6rem !important;
    margin-left: -1rem !important;
  }

}

.landing-link {
  text-decoration: none;
  color: #4183c4;
}

label {
  font-weight:bold;
}

.required label:after {
  content:'*';
  color:red;
}

.age-page {
  background-color: #24252B;
  color:#ffffff;
}

.age-page a {
  background-color: #393B44;
  border: none;
}

.age-page a:hover {
  background-color: #2f3036;
}

.add-edit .row {
  background-color: #E5F0FE;
  padding: 1rem 0;
  margin: 2rem 0;
  border-radius: 2rem;
}

.add-edit form {
  padding-bottom: 4rem;
}

.add-edit .card-body {
  padding-left: 3rem;
  padding-right: 3rem;
}

.your-teams .team-buttons {
  color: blue;
  background-color: transparent;
  border: none;
}

.your-teams a {
  color: blue;
  text-decoration: none;
}

.team-card {
  padding: 0 2rem 0 2rem;
}

.team-name {
  color: #263763;
  padding-top: 2rem;
}

.your-teams {
  padding-top: 1rem;
}

.top-lvl {
  padding-bottom: 50px;
}